<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
    <div class="col">
        <div class="card shadow my-3 text-center">
            <img src="" class="card-img-top my-3" alt="...">
            <div class="card-body">
                <h5 class="card-title fw-bolder name-color my-4">NAME</h5>
                <div class="d-flex justify-content-center">
                    <a href=""><button class="btn btn-color" type="button">Show more</button></a>
                </div>
            </div>
        </div>
    </div>
</div>